@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$app-bar-height: 60px;
$menu-hover-bgcolor: #dadce0;
$font-base-color: #000;
$side-nav-width: 230px;
$footer-height: 60px;

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  background-color: #F6F8FA;
  box-sizing: border-box;
}

/* ---- Header ---- */
.app-bar {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  width: 100%;
  height: $app-bar-height;
  background-color: #FFFFFF;
}

.app-bar_menu-hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: $app-bar-height;
  width: $app-bar-height;
  margin-right: 10px;
  user-select: none;
  cursor: pointer;

  &:hover, &.active {
    background-color: $menu-hover-bgcolor;
  }

  &.active {
    .hamburger-bar:nth-child(2) {
      opacity: 0;
    }

    .hamburger-bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    .hamburger-bar:nth-child(3) {
      transform: translateY(-10px) rotate(-45deg);
    }
  }
}

.hamburger-bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 3px auto;
  background-color: #101010;
}

.app-bar__brand h1 a {
  display: flex;
  align-items: center;
  color: black;
  font-size: 24px;
  text-decoration: none;
  font-weight: 400;
  height: $app-bar-height;
}

.user-profile {
  user-select: none;
  margin-left: auto;
  cursor: pointer;
}

.user-profile__info {
  display: flex;
  align-items: center;
  height: 60px;
  gap: 5px;
  padding: 0 20px;

  &:hover, &:focus {
    font-weight: 500;
    background-color: $menu-hover-bgcolor;
  }
}

.user-profile__pic {
  display: inline-block;
  height: 30px;

  & img {
    height: 100%;
  }
}

.user-profile__dropdown {
  display: none;
  position: absolute;
  top: 60px;
  right: 20px;
  width: 200px;
  background-color: #FFFFFF;
  min-width: 160px;
  z-index: 1;

  &.show {
    display: block;
  }
}

.user-profile__menu {
  list-style: none;

  & a {
    display: block;
    text-decoration: none;
    color: $font-base-color;
    padding: 15px 20px;

    &:hover {
      background-color: $menu-hover-bgcolor;
      font-weight: 500;
    }
  }

  & i {
    display: inline-block;
    margin-right: 10px;
  }
}

/* ---- Navbar ---- */
.sidenav {
  position: fixed;
  top: $app-bar-height;
  left: -$side-nav-width;
  width: $side-nav-width;
  min-height: calc(100vh - #{$app-bar-height});
  background-color: #FFFFFF;
  transition: left 0.5s;

  &.show {
    left: 0;
  }
}

.navbar-menu {
  list-style: none;

  & a {
    display: block;
    color: $font-base-color;
    text-decoration: none;
    padding: 13px 20px;

    &:hover {
      font-weight: 500;
      background-color: $menu-hover-bgcolor;
    }

    & i {
      margin-right: 10px;
    }
  }
}


/* ---- Footer ---- */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: $footer-height;
  background-color: #FFFFFF;
}