@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #F6F8FA;
  box-sizing: border-box;
}

/* ---- Header ---- */
.app-bar {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  height: 60px;
  background-color: #FFFFFF;
}

.app-bar_menu-hamburger {
  height: 100%;
  padding: 16px 0;
  width: 44px;
  margin-right: 10px;
}

.hamburger-bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #101010;
}

.app-bar__brand h1 a {
  display: flex;
  align-items: center;
  color: black;
  font-size: 24px;
  text-decoration: none;
  font-weight: 400;
}

.user-profile {
  margin-left: auto;
  cursor: pointer;
}

.user-profile__pic {
  display: inline-block;
  height: 30px;
}

.user-profile__pic img {
  height: 100%;
}

.user-profile__dropdown {
  // display: none;
  position: absolute;
  top: 60px;
  right: 20px;
  width: 200px;
  background-color: #FFFFFF;
  min-width: 160px;
  z-index: 1;
}

.user-profile__menu {
  list-style: none;
}

.user-profile__menu a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 15px 20px;
}

.user-profile__menu i {
  display: inline-block;
  margin-right: 10px;
}