@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  background-color: #F6F8FA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* ---- Header ---- */
.app-bar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60px;
  background-color: #FFFFFF;
}

.app-bar_menu-hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  width: 60px;
  margin-right: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.app-bar_menu-hamburger:hover, .app-bar_menu-hamburger.active {
  background-color: #dadce0;
}

.app-bar_menu-hamburger.active .hamburger-bar:nth-child(2) {
  opacity: 0;
}

.app-bar_menu-hamburger.active .hamburger-bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
}

.app-bar_menu-hamburger.active .hamburger-bar:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
}

.hamburger-bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 3px auto;
  background-color: #101010;
}

.app-bar__brand h1 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  font-size: 24px;
  text-decoration: none;
  font-weight: 400;
  height: 60px;
}

.user-profile {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-left: auto;
  cursor: pointer;
}

.user-profile__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  gap: 5px;
  padding: 0 20px;
}

.user-profile__info:hover, .user-profile__info:focus {
  font-weight: 500;
  background-color: #dadce0;
}

.user-profile__pic {
  display: inline-block;
  height: 30px;
}

.user-profile__pic img {
  height: 100%;
}

.user-profile__dropdown {
  display: none;
  position: absolute;
  top: 60px;
  right: 20px;
  width: 200px;
  background-color: #FFFFFF;
  min-width: 160px;
  z-index: 1;
}

.user-profile__dropdown.show {
  display: block;
}

.user-profile__menu {
  list-style: none;
}

.user-profile__menu a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 15px 20px;
}

.user-profile__menu a:hover {
  background-color: #dadce0;
  font-weight: 500;
}

.user-profile__menu i {
  display: inline-block;
  margin-right: 10px;
}

/* ---- Navbar ---- */
.sidenav {
  position: fixed;
  top: 60px;
  left: -230px;
  width: 230px;
  min-height: calc(100vh - 60px);
  background-color: #FFFFFF;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
}

.sidenav.show {
  left: 0;
}

.navbar-menu {
  list-style: none;
}

.navbar-menu a {
  display: block;
  color: #000;
  text-decoration: none;
  padding: 13px 20px;
}

.navbar-menu a:hover {
  font-weight: 500;
  background-color: #dadce0;
}

.navbar-menu a i {
  margin-right: 10px;
}

/* ---- Footer ---- */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 60px;
  background-color: #FFFFFF;
}
