@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Signika Negative', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* .stop_scrolling {
  height: 100vh;
  overflow: hidden;
}

* .hamburger_slide {
  left: 0%;
}

div#preloader {
  display: none;
  position: fixed;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 10;
  background-color: var(--primary-color);
  animation: fade-out 1s forwards 3800ms;
}

div#preloader div.preloader-image {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: 15vh;
  padding: .5rem;
  gap: 3rem;
  overflow: hidden;
}

div#preloader div.preloader-image img {
  width: 4rem;
}

div#preloader div.preloader-image img.first-image {
  animation: snake 2s ease infinite alternate .2s;
}

div#preloader div.preloader-image img.second-image {
  animation: snake 2s ease infinite alternate .5s;
}

div#preloader div.preloader-image img.third-image {
  animation: snake 2s ease infinite alternate .8s;
}

div#preloader div.preloader-image img.fourth-image {
  animation: snake 2s ease infinite alternate 1.1s;
}

div#preloader div.preloader-image img.fifth-image {
  animation: snake 2s ease infinite alternate 1.4s;
}

div#preloader p.preloader-text {
  font-size: 2.5rem;
  opacity: 0;
  color: var(--third-color);
  animation: blink .75s alternate infinite .2s;
}

nav {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: fit-content;
  padding: .5rem;
  justify-content: space-around;
  align-items: center;
  gap: 60%;
  border-bottom: 0.15rem solid var(--third-color);
  background-color: var(--primary-color);
  z-index: 5;
}

nav a {
  text-decoration: none;
}

nav a img.navigation-logo {
  width: 10vw;
}

nav ul.navigation-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 1.5rem;
  cursor: pointer;
}

nav ul.navigation-list li.navigation-item-list {
  display: flex;
  flex-direction: column;
  padding: .5rem;
  align-items: center;
  justify-content: center;
}

nav ul.navigation-list li.navigation-item-list a.navigation-item-list-link {
  font-size: 1.5rem;
  text-align: center;
  color: var(--third-color);
  transition: .2s all;
}

nav ul.navigation-list li.navigation-item-list a.navigation-item-list-link span.navigation-slide {
  display: flex;
  width: 0%;
  height: 3px;
  border-radius: 5rem;
  background-color: var(--third-color);
  transition: width .25s ease-in-out;
}

nav ul.navigation-list li.navigation-item-list:hover a.navigation-item-list-link:hover {
  color: var(--third-color);
}

nav ul.navigation-list li.navigation-item-list:hover a.navigation-item-list-link:hover span.navigation-slide {
  width: 100%;
  transition: width .25s ease-in-out;
}

nav ul.navigation-list li.dashboard-list {
  display: none;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  padding: .5rem;
  align-items: center;
  border-radius: .25rem;
  background-color: var(--fourth-color);
}

nav ul.navigation-list li.dashboard-list a.login-link {
  color: var(--primary-color);
}

nav ul.navigation-list li.dashboard-list a.login-link span.login-slide {
  display: none;
}

nav ul.navigation-list li.login-list {
  display: flex;
  flex-direction: column;
  width: 5rem;
  height: fit-content;
  padding: .5rem;
  align-items: center;
  border-radius: .25rem;
  background-color: var(--fourth-color);
}

nav ul.navigation-list li.login-list a.login-link {
  color: var(--primary-color);
}

nav ul.navigation-list li.login-list a.login-link span.login-slide {
  display: none;
}

nav ul.navigation-list li.login-list:hover, nav ul.navigation-list li.dashboard-list:hover {
  background-color: var(--third-color);
}

nav ul.navigation-list li.login-list:hover a.login-link:hover, nav ul.navigation-list li.dashboard-list:hover a.login-link:hover {
  color: var(--fifth-color);
}

nav ul.navigation-list:hover li.navigation-item-list a.navigation-item-list-link {
  color: var(--secondary-color);
}

nav ul.hamburger-lines {
  display: none;
}

section#hero-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: fit-content;
  padding: 2rem;
  justify-content: space-evenly;
  align-items: center;
}

section#hero-container div.hero-image-container {
  display: flex;
  width: fit-content;
  height: fit-content;
  padding: 1rem 2rem;
  justify-content: center;
}

section#hero-container div.hero-image-container img.hero-image {
  width: 40rem;
}

section#hero-container div.hero-detail-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: fit-content;
  padding: 1rem;
  gap: 1rem;
}

section#hero-container div.hero-detail-container p.detail-title {
  font-size: 3rem;
  font-weight: 600;
}

section#hero-container div.hero-detail-container p.detail-text {
  font-size: 1.5rem;
  font-weight: 400;
}

section#hero-container div.hero-detail-container a.register-link {
  display: flex;
  width: fit-content;
  justify-content: center;
  padding: 1rem 2.5rem;
  font-size: 1.25rem;
  text-decoration: none;
  border-radius: .5rem;
  color: var(--primary-color);
  background-color: var(--fourth-color);
}

section#hero-container div.hero-detail-container a.register-link:hover {
  color: var(--fifth-color);
  background-color: var(--third-color);
}

section#feature-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: fit-content;
  margin-top: 5rem;
  padding: 10rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

section#feature-container p.feature-title {
  font-size: 3rem;
  font-weight: 500;
}

section#feature-container div.feature-inner-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

section#feature-container div.feature-inner-container img.feature-image {
  width: 10rem;
}

section#feature-container div.feature-inner-container p.feature-text {
  width: 50%;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

section#feature-container div.second-feature {
  flex-direction: row-reverse;
}

section#about-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: fit-content;
  padding: 2rem 1rem;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

section#about-container p.about-title {
  font-size: 3rem;
  font-weight: 500;
}

section#about-container div.about-outer-container {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 2.5rem;
}

section#about-container div.about-outer-container div.about-inner-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 15vw;
  height: 40vh;
  cursor: pointer;
  border: 5px solid var(--third-color);
  border-radius: 1rem;
  background-color: black;
}

section#about-container div.about-outer-container div.about-inner-container img.about-image {
  display: block;
  width: 100%;
  height: 100%;
  transition: .5s ease;
}

section#about-container div.about-outer-container div.about-inner-container div.about-detail {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 90%;
  height: 0%;
  bottom: 0;
  padding: 1rem;
  gap: .5rem;
  overflow: hidden;
  border-top: var(--fourth-color);
  border-radius: 1rem 1rem 0rem 0rem;
  background-color: rgba(11, 70, 25, 0.96);
  transition: height .25s ease;
}

section#about-container div.about-outer-container div.about-inner-container div.about-detail p {
  font-size: 1rem;
  overflow: hidden;
  color: var(--primary-color);
}

section#about-container div.about-outer-container div.about-inner-container:hover img.about-image {
  opacity: .5;
  transition: .5s ease;
}

section#about-container div.about-outer-container div.about-inner-container:hover div.about-detail {
  height: 35%;
  transition: .5s ease;
}

section#about-container div.about-outer-container p.about-text {
  width: 40%;
  text-align: center;
  font-size: 1.5rem;
}

footer {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: fit-content;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-top: 0.15rem solid var(--third-color);
  background-color: var(--primary-color);
}

footer img.footer-logo {
  width: 10rem;
}

footer p.footer-text {
  font-size: 1.25rem;
  color: var(--third-color);
}

section.auth-page {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

section.auth-page nav {
  display: flex;
  position: fixed;
  width: 20vw;
  height: 10vh;
  top: 0;
  left: 0;
  padding: 1rem;
  border: none;
  cursor: pointer;
  background-color: white;
}

section.auth-page nav a img {
  width: 60%;
}

section.auth-page div.auth-hero {
  display: flex;
  width: 30%;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}

section.auth-page div.auth-hero img {
  width: 80%;
}

section.auth-page div.form-collection {
  display: flex;
  width: fit-content;
  height: fit-content;
  padding: 2rem;
  gap: 2rem;
}

section.auth-page div.form-collection div.form-container {
  display: flex;
  flex-direction: column;
  width: 35rem;
  height: 38rem;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 4px solid var(--third-color);
  border-radius: 1rem;
}

section.auth-page div.form-collection div.form-container div.form-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 3rem;
}

section.auth-page div.form-collection div.form-container div.form-card p.form-title {
  font-size: 2.5rem;
  text-decoration: underline;
  overflow: hidden;
}

section.auth-page div.form-collection div.form-container div.form-card div.form-input-group {
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: fit-content;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  overflow: hidden;
}

section.auth-page div.form-collection div.form-container div.form-card div.form-input-group input {
  width: 25rem;
  height: 3rem;
  padding: .5rem;
  font-size: 2rem;
}

section.auth-page div.form-collection div.form-container div.form-card div.form-input-group div {
  display: flex;
  width: fit-content;
  align-items: center;
}

section.auth-page div.form-collection div.form-container div.form-card div.form-input-group div span {
  position: absolute;
  margin-left: 20%;
}

section.auth-page div.form-collection div.form-container div.form-card div.form-input-group div span i {
  width: 2rem;
  height: fit-content;
  right: 3rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: #116530;
}

section.auth-page div.form-collection div.form-container div.form-card div.form-input-group div span i.fa-eye {
  display: none;
}

section.auth-page div.form-collection div.form-container div.form-card div.form-input-group div span i.fa-eye-slash {
  display: flex;
}

section.auth-page div.form-collection div.form-container div.form-card p.link-button {
  font-size: 2rem;
  text-decoration: none;
  cursor: pointer;
  color: black;
  overflow: hidden;
}

section.auth-page div.form-collection div.form-container div.footer-container {
  display: flex;
  width: 40rem;
  height: 6rem;
  background-color: var(--third-color);
}

section.auth-page div.form-collection div.form-container div.footer-container button {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  font-size: 4rem;
  color: white;
  cursor: pointer;
  background-color: var(--third-color);
}

section.auth-page div.form-collection div.login-form {
  display: flex;
}

section.auth-page div.form-collection div.signup-form {
  display: none;
}

section.user-profile {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  overflow: hidden;
}

section.user-profile p {
  font-size: 2rem;
  overflow: hidden;
}

section.user-profile div.profile-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 2rem;
  justify-content: center;
  gap: 2rem;
}

section.user-profile div.profile-container div.image-card {
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 25rem;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  overflow: hidden;
}

section.user-profile div.profile-container div.image-card img.image-preview {
  width: 20rem;
  height: 20rem;
  border-radius: 10rem;
  border: 1px solid rebeccapurple;
  overflow: hidden;
}

section.user-profile div.profile-container div.image-card div.image-button-group {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}

section.user-profile div.profile-container div.image-card div.image-button-group input#image-name {
  display: flex;
  width: 0%;
  height: 0%;
}

section.user-profile div.profile-container div.image-card div.image-button-group p#image-extension {
  display: flex;
  width: 0%;
  height: 0%;
}

section.user-profile div.profile-container div.image-card div.image-button-group input.image-select {
  width: 5.6rem;
}

section.user-profile div.profile-container div.image-card div.image-button-group button {
  width: 6rem;
}

section.user-profile div.profile-container div.profile-card {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: fit-content;
  padding: 1rem;
  gap: 1rem;
  border-left: 1px solid gray;
}

section.user-profile div.profile-container div.profile-card div.profile-item-card {
  display: flex;
  flex-direction: row;
  width: 60%;
  height: fit-content;
  gap: 1rem;
}

section.user-profile div.profile-container div.profile-card div.profile-item-card p.profile-title {
  width: 12rem;
  font-size: 2rem;
}

section.user-profile div.profile-container div.profile-card div.profile-item-card input.profile-input {
  width: 30rem;
  padding: 0rem .5rem;
  font-size: 1.5rem;
}

section.user-profile div.profile-container div.profile-card div.profile-item-card select.profile-input {
  width: 32rem;
  padding: 0rem .5rem;
  font-size: 1.5rem;
}

section.user-profile div.profile-container div.profile-card div.profile-button-group {
  display: none;
  flex-direction: row;
  width: 20rem;
  height: fit-content;
  gap: 1rem;
}

section.user-profile div.profile-container div.profile-card button {
  display: flex;
  width: 20rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
}

section.user-profile button#logout {
  display: flex;
  width: 8rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding: 1rem;
  cursor: pointer;
  overflow: hidden;
}

section.user-profile {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  gap: 1rem;
}

section.user-profile div.food-outter-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  padding: 1rem;
  gap: .5rem;
  border-radius: 1rem;
  border: 2px solid blue;
}

section.user-profile div.food-outter-container div.food-inner-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

section.user-profile div.food-outter-container div.food-inner-container p.food-title {
  width: 10rem;
  font-size: 1.5rem;
}

section.user-profile div.food-outter-container div.food-inner-container input.food-input {
  width: 20rem;
  height: 2rem;
  padding: 0rem .25rem;
  font-size: 1rem;
}

section.user-profile div.food-outter-container div.food-inner-container select.food-input {
  width: 20.8rem;
  height: 2rem;
  font-size: 1rem;
  color: black;
}

section.user-profile div.food-outter-container div.food-inner-container select.food-input option#food-id-edit-option {
  font-size: 1rem;
  color: black;
}

section.user-profile div.food-outter-container div.food-button-group, section.user-profile div.food-outter-container .food-edit-button-group {
  display: none;
  width: 32rem;
  gap: 1rem;
}

section.user-profile div.food-outter-container div.food-button-group button, section.user-profile div.food-outter-container .food-edit-button-group button {
  width: 16rem;
  height: 2rem;
}

section.user-profile div.food-outter-container button.add-food-button, section.user-profile div.food-outter-container .delete-food-button, section.user-profile div.food-outter-container .edit-food-button {
  display: flex;
  width: 32rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
}

@keyframes fade-out {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    opacity: 1;
    transform: translateY(-30px);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoom-in {
  from {
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes snake {
  50% {
    transform: translateY(-2rem);
  }
  100% {
    transform: translateY(1rem);
  }
}

@media screen and (max-width: 1600px) {
  nav {
    gap: 50%;
  }
  section#hero-container div.hero-image-container img.hero-image {
    width: 35rem;
  }
  section#hero-container div.hero-detail-container p.detail-title {
    font-size: 2.5rem;
  }
  section#hero-container div.hero-detail-container p.detail-text {
    font-size: 1.25rem;
  }
  section.login-page div.form-collection div.form-container {
    width: 32rem;
    height: 35rem;
  }
  section.login-page div.form-collection div.form-container div.form-card div.form-input-group input {
    width: 28rem;
    height: 3rem;
    padding: .5rem;
    font-size: 1.5rem;
  }
  section.login-page div.form-collection div.form-container div.footer-container {
    width: 40rem;
    height: 6rem;
  }
  section.login-page div.form-collection div.form-container div.footer-container button {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 1440px) {
  nav {
    gap: 45%;
  }
}

@media screen and (max-width: 1280px) {
  section.login-page nav a img {
    width: 4rem;
  }
  section.login-page div.form-collection div.form-container {
    width: 25rem;
    height: 28rem;
  }
  section.login-page div.form-collection div.form-container div.form-card div.form-input-group input {
    width: 20rem;
    height: 2rem;
    font-size: 1.5rem;
  }
  section.login-page div.form-collection div.form-container div.form-card a {
    font-size: 1.5rem;
  }
  section.login-page div.form-collection div.form-container div.footer-container button {
    font-size: 2.5rem;
  }
  section.login-page div.form-collection div.login-form {
    display: flex;
  }
  section.login-page div.form-collection div.signup-form {
    display: none;
    height: 32rem;
  }
}

@media screen and (max-width: 1080px) {
  nav {
    gap: 35%;
  }
  nav a img.navigation-logo {
    width: 10rem;
  }
  section#hero-container div.hero-image-container img.hero-image {
    width: 25rem;
  }
  section#hero-container div.hero-detail-container p.detail-title {
    font-size: 2.5rem;
  }
  section#hero-container div.hero-detail-container p.detail-text {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 768px) {
  nav {
    gap: 10%;
  }
  nav a img.navigation-logo {
    width: 10rem;
  }
  section#hero-container div.hero-image-container {
    padding: 0;
  }
  section#hero-container div.hero-image-container img.hero-image {
    width: 20rem;
  }
  section#hero-container div.hero-detail-container {
    width: 40%;
    padding: 1rem;
  }
  section#hero-container div.hero-detail-container p.detail-title {
    font-size: 2rem;
  }
  section#hero-container div.hero-detail-container p.detail-text {
    font-size: 1rem;
  }
  section#hero-container div.hero-detail-container a.register-link {
    padding: .8rem 1.5rem;
  }
  section#feature-container div.feature-inner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  section#feature-container div.feature-inner-container img.feature-image {
    width: 10rem;
  }
  section#feature-container div.feature-inner-container p.feature-text {
    width: 50%;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
  }
  section#feature-container div.second-feature {
    flex-direction: row-reverse;
  }
  section#about-container p.about-title {
    font-size: 3rem;
    font-weight: 500;
  }
  section#about-container div.about-outer-container div.about-inner-container {
    display: none;
  }
  section#about-container div.about-outer-container p.about-text {
    width: 90%;
    text-align: center;
    font-size: 1.25rem;
  }
  section.login-page nav a img {
    width: 100%;
  }
  section.login-page div.login-hero {
    display: none;
  }
  section.login-page div.form-collection div.form-container {
    width: 30rem;
    height: 35rem;
  }
}

@media screen and (max-width: 428px) {
  div#preloader {
    width: 100vw;
    height: 100vh;
    gap: 1rem;
    padding: 0%;
    overflow: hidden;
    animation: fade-out 1s forwards 3800ms;
  }
  div#preloader div.preloader-image {
    height: 20vh;
    gap: 1rem;
  }
  div#preloader div.preloader-image img {
    width: 3rem;
  }
  div#preloader p.preloader-text {
    font-size: 2.5rem;
    opacity: 0;
    color: var(--third-color);
    animation: blink .75s alternate infinite .2s;
  }
  nav {
    width: 100vw;
    gap: 25%;
    border: none;
    padding: .5rem 0rem;
  }
  nav a img.navigation-logo {
    width: 8rem;
  }
  nav ul.navigation-list {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    top: 7%;
    left: 100%;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 1rem;
    padding: 1rem;
    cursor: pointer;
    overflow: hidden;
    background-color: var(--primary-color);
    z-index: 4;
    transition: all .5s ease;
  }
  nav ul.navigation-list li.navigation-item-list {
    display: flex;
    flex-direction: column;
    padding: 0rem;
    align-items: center;
    justify-content: center;
  }
  nav ul.navigation-list li.navigation-item-list a.navigation-item-list-link {
    font-size: 2rem;
    text-align: center;
    color: var(--third-color);
    transition: .2s all;
  }
  nav ul.navigation-list li.navigation-item-list a.navigation-item-list-link span.navigation-slide {
    display: flex;
    width: 0%;
    height: 3px;
    border-radius: 5rem;
    background-color: var(--third-color);
    transition: width .25s ease-in-out;
  }
  nav ul.navigation-list li.navigation-item-list:hover a.navigation-item-list-link:hover {
    color: var(--third-color);
  }
  nav ul.navigation-list li.navigation-item-list:hover a.navigation-item-list-link:hover span.navigation-slide {
    width: 100%;
    transition: width .25s ease-in-out;
  }
  nav ul.navigation-list li.login-list {
    display: flex;
    flex-direction: column;
    width: 5rem;
    height: fit-content;
    padding: .5rem;
    align-items: center;
    border-radius: .25rem;
    background-color: var(--fourth-color);
  }
  nav ul.navigation-list li.login-list a.login-link {
    color: var(--primary-color);
  }
  nav ul.navigation-list li.login-list a.login-link span.login-slide {
    display: none;
  }
  nav ul.navigation-list li.login-list:hover {
    background-color: var(--third-color);
  }
  nav ul.navigation-list li.login-list:hover a.login-link:hover {
    color: var(--fifth-color);
  }
  nav ul.navigation-list:hover li.navigation-item-list a.navigation-item-list-link {
    color: var(--secondary-color);
  }
  nav ul.hamburger-lines {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    cursor: pointer;
  }
  nav ul.hamburger-lines li {
    width: 2rem;
    height: .25rem;
    border-radius: 1rem;
    background-color: black;
  }
  section#hero-container {
    width: 100vw;
    padding: 0rem;
    justify-content: center;
  }
  section#hero-container div.hero-image-container {
    display: none;
  }
  section#hero-container div.hero-detail-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 1rem;
    gap: 1rem;
  }
  section#hero-container div.hero-detail-container p.detail-title {
    font-size: 2rem;
  }
  section#hero-container div.hero-detail-container p.detail-text {
    font-size: 1rem;
  }
  section#hero-container div.hero-detail-container a.register-link {
    padding: .6rem 1.5rem;
    font-size: 1.25rem;
  }
  section#feature-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: fit-content;
    margin-top: 3rem;
    padding: 0rem;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  section#feature-container p.feature-title {
    font-size: 2.5rem;
    font-weight: 500;
  }
  section#feature-container div.feature-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }
  section#feature-container div.feature-inner-container img.feature-image {
    width: 5rem;
  }
  section#feature-container div.feature-inner-container p.feature-text {
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
  }
  section#feature-container div.second-feature {
    flex-direction: column;
  }
  section#about-container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: fit-content;
    padding: 2rem 1rem;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  section#about-container p.about-title {
    font-size: 2.5rem;
    font-weight: 500;
  }
  section#about-container div.about-outer-container {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 2.5rem;
  }
  section#about-container div.about-outer-container p.about-text {
    text-align: center;
    font-size: 1rem;
  }
  footer {
    flex-direction: column;
  }
  section.login-page {
    padding: 0%;
  }
  section.login-page nav {
    width: 100vw;
    height: 10vh;
    align-items: center;
  }
  section.login-page nav a {
    width: fit-content;
  }
  section.login-page nav a img {
    width: 50%;
  }
  section.login-page div.form-collection div.form-container {
    width: 25rem;
    height: 28rem;
  }
  section.login-page div.form-collection div.form-container div.form-card div.form-input-group input {
    width: 18rem;
  }
  section.login-page div.form-collection div.form-container div.form-card a {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 320px) {
  div#preloader div.preloader-image img {
    width: 2.5rem;
  }
  nav {
    width: 100vw;
    gap: 40%;
    border: none;
    padding: .5rem 0rem;
  }
  nav a img.navigation-logo {
    width: 8rem;
  }
  nav ul.navigation-list {
    top: 6%;
    left: 100%;
  }
  nav ul.navigation-list li.navigation-item-list {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    align-items: center;
    justify-content: center;
  }
  nav ul.navigation-list li.navigation-item-list a.navigation-item-list-link {
    font-size: 1.5rem;
    text-align: center;
    color: var(--third-color);
    transition: .2s all;
  }
  nav ul.navigation-list li.navigation-item-list a.navigation-item-list-link span.navigation-slide {
    display: flex;
    width: 0%;
    height: 3px;
    border-radius: 5rem;
    background-color: var(--third-color);
    transition: width .25s ease-in-out;
  }
  nav ul.navigation-list li.navigation-item-list:hover a.navigation-item-list-link:hover {
    color: var(--third-color);
  }
  nav ul.navigation-list li.navigation-item-list:hover a.navigation-item-list-link:hover span.navigation-slide {
    width: 100%;
    transition: width .25s ease-in-out;
  }
  nav ul.navigation-list li.login-list {
    display: flex;
    flex-direction: column;
    width: 5rem;
    height: fit-content;
    padding: .5rem;
    align-items: center;
    border-radius: .25rem;
    background-color: var(--fourth-color);
  }
  nav ul.navigation-list li.login-list a.login-link {
    color: var(--primary-color);
  }
  nav ul.navigation-list li.login-list a.login-link span.login-slide {
    display: none;
  }
  nav ul.navigation-list li.login-list:hover {
    background-color: var(--third-color);
  }
  nav ul.navigation-list li.login-list:hover a.login-link:hover {
    color: var(--fifth-color);
  }
  nav ul.navigation-list:hover li.navigation-item-list a.navigation-item-list-link {
    color: var(--secondary-color);
  }
  nav ul.hamburger-lines {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    cursor: pointer;
  }
  nav ul.hamburger-lines li {
    width: 2rem;
    height: .25rem;
    border-radius: 1rem;
    background-color: black;
  }
  section#feature-container p.feature-title {
    font-size: 2.5rem;
    font-weight: 500;
  }
  section#feature-container div.feature-inner-container p.feature-text {
    font-size: 1rem;
  }
  section#about-container p.about-title {
    font-size: 2.5rem;
  }
  section#about-container div.about-outer-container p.about-text {
    font-size: 1rem;
  }
  footer {
    width: 90vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section.login-page {
    justify-content: center;
    padding: 0%;
  }
  section.login-page nav {
    width: 100vw;
    height: 3vh;
    align-items: center;
  }
  section.login-page nav a img {
    width: 30%;
  }
  section.login-page div.form-collection div.form-container {
    width: 25rem;
    height: 20rem;
    overflow: hidden;
  }
  section.login-page div.form-collection div.form-container div.form-card {
    gap: 1.5rem;
  }
  section.login-page div.form-collection div.form-container div.form-card p.form-title {
    font-size: 1.5rem;
  }
  section.login-page div.form-collection div.form-container div.form-card div.form-input-group {
    gap: 1rem;
  }
  section.login-page div.form-collection div.form-container div.form-card div.form-input-group input {
    width: 12rem;
    height: 1.5rem;
  }
  section.login-page div.form-collection div.form-container div.form-card a {
    font-size: 1.25rem;
  }
  section.login-page div.form-collection div.form-container div.footer-container button {
    font-size: 2rem;
  }
  section.login-page div.form-collection div.login-form {
    display: flex;
  }
  section.login-page div.form-collection div.signup-form {
    display: none;
    height: 22rem;
  }
}

:root {
  --primary-color: #E8E8CC;
  --secondary-color: #B4846C;
  --third-color: #0B4619;
  --fourth-color: #116530;
  --fifth-color: #FFCC1D;
}
/*# sourceMappingURL=style.css.map */