// Import
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');

// Global Style
* {
    margin: 0;
    padding: 0;
    font-family: 'Signika Negative', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;

    .stop_scrolling {
        height: 100vh;
        overflow: hidden;
    }

    .hamburger_slide {
        left: 0%;
    }
}

// Preloader
div#preloader {   
    display: none;
    position: fixed;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    z-index: 10;
    background-color: var(--primary-color);

    animation: fade-out 1s forwards 3800ms;

    div.preloader-image {
        display: flex;
        flex-direction: row;
        width: fit-content;
        height: 15vh;
        padding: .5rem;
        gap: 3rem;
        overflow: hidden;

        img {
            width: 4rem;
        }

        img.first-image {
            animation: snake 2s ease infinite alternate .2s;
        }

        img.second-image {
            animation: snake 2s ease infinite alternate .5s;
        }
        
        img.third-image {
            animation: snake 2s ease infinite alternate .8s;
        }

        img.fourth-image {
            animation: snake 2s ease infinite alternate 1.1s;
        }

        img.fifth-image {
            animation: snake 2s ease infinite alternate 1.4s;
        }
    }

    p.preloader-text {
        font-size: 2.5rem;
        opacity: 0;
        color: var(--third-color);

        animation: blink .75s alternate infinite .2s;
    }
}

// Navigation Landing Page
nav {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: fit-content;
    padding: .5rem;
    justify-content: space-around;
    align-items: center;
    gap: 60%;
    border-bottom: .15rem solid var(--third-color);
    background-color: var(--primary-color);
    z-index: 5;

    a {
        text-decoration: none;

        img.navigation-logo {
            width: 10vw;
        }
    }

    ul.navigation-list {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 1.5rem ;
        cursor: pointer;

        li.navigation-item-list {
            display: flex;
            flex-direction: column;
            padding: .5rem;
            align-items: center;
            justify-content: center;

            a.navigation-item-list-link {
                font-size: 1.5rem;
                text-align: center;
                color: var(--third-color);
                transition: .2s all;

                span.navigation-slide {
                    display: flex;
                    width: 0%;
                    height: 3px;
                    border-radius: 5rem;
                    background-color: var(--third-color);
                    transition: width .25s ease-in-out;
                }
            }            
        }

        li.navigation-item-list:hover {

            a.navigation-item-list-link:hover {
                color: var(--third-color);

                span.navigation-slide {
                    width: 100%;
                    transition: width .25s ease-in-out;
                }
            }
        }
        li.dashboard-list {
            display: none;
            flex-direction: column;
            width: fit-content;
            height: fit-content;
            padding: .5rem;
            align-items: center;
            border-radius: .25rem;
            background-color: var(--fourth-color);

            a.login-link {
                color: var(--primary-color);

                span.login-slide {
                    display: none;
                }
            }
        }

        li.login-list {
            display: flex;
            flex-direction: column;
            width: 5rem;
            height: fit-content;
            padding: .5rem;
            align-items: center;
            border-radius: .25rem;
            background-color: var(--fourth-color);

            a.login-link {
                color: var(--primary-color);

                span.login-slide {
                    display: none;
                }
            }
        }

        li.login-list:hover, li.dashboard-list:hover {
            background-color: var(--third-color);

            a.login-link:hover {
                color: var(--fifth-color);
            }
        }
    }

    ul.navigation-list:hover {
        
        li.navigation-item-list {

            a.navigation-item-list-link {
                color: var(--secondary-color);
            }
        }
    }

    ul.hamburger-lines {
        display:  none;
    }
}

// Hero Landing Page
section#hero-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: fit-content;
    padding: 2rem;
    justify-content: space-evenly;
    align-items: center;

    div.hero-image-container {
        display: flex;
        width: fit-content;
        height: fit-content;
        padding: 1rem 2rem;
        justify-content: center;

        img.hero-image {
            width: 40rem;
        }
    }

    div.hero-detail-container {
        display: flex;
        flex-direction: column;
        width: 40%;
        height: fit-content;
        padding: 1rem;
        gap: 1rem;

        p.detail-title {
            font-size: 3rem;
            font-weight: 600;
        }

        p.detail-text {
            font-size: 1.5rem;
            font-weight: 400;
        }

        a.register-link {
            display: flex;
            width: fit-content;
            justify-content: center;
            padding: 1rem 2.5rem;
            font-size: 1.25rem;
            text-decoration: none;
            border-radius: .5rem;
            color: var(--primary-color);
            background-color: var(--fourth-color);
        }

        a.register-link:hover {
            color: var(--fifth-color);
            background-color: var(--third-color);
        }
    }
}

// Feature Landing Page
section#feature-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: fit-content;
    margin-top: 5rem;
    padding: 10rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    p.feature-title {
        font-size: 3rem;
        font-weight: 500;
    }

    div.feature-inner-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        img.feature-image {
            width: 10rem;
        }

        p.feature-text {
            width: 50%;
            font-size: 1.5rem;
            font-weight: 400;
            text-align: center;
        }
    }

    div.second-feature {
        flex-direction: row-reverse;
    }
}

// About Landing Page
section#about-container {   
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: fit-content;
    padding: 2rem 1rem;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    p.about-title {
        font-size: 3rem;
        font-weight: 500;
    }

    div.about-outer-container {
        display: flex;
        flex-direction: row;
        width: fit-content;
        height: fit-content;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        gap: 2.5rem;

        div.about-inner-container {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 15vw;
            height: 40vh;
            cursor: pointer;
            border: 5px solid var(--third-color);
            border-radius: 1rem;
            background-color: black;

            img.about-image {
                display: block;
                width: 100%;
                height: 100%;
                transition: .5s ease;
            }

            div.about-detail {
                display: flex;
                flex-direction: column;
                position: absolute;
                width: 90%;
                height: 0%;
                bottom: 0;
                padding: 1rem;
                gap: .5rem;
                overflow: hidden;
                border-top: var(--fourth-color);
                border-radius: 1rem 1rem 0rem 0rem;
                background-color: rgba($color: #0B4619, $alpha: .96);
                transition: height .25s ease;

                p {
                    font-size: 1rem;
                    overflow: hidden;
                    color: var(--primary-color);
                }
            }
        }

        div.about-inner-container:hover {

            img.about-image {
                opacity: .5;
                transition: .5s ease;
            }

            div.about-detail {
                height: 35%;
                transition: .5s ease;
            }
        }

        p.about-text {
            width: 40%;
            text-align: center;
            font-size: 1.5rem;
        }
    }
}

// Footer Landing Page 
footer {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: fit-content;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-top: .15rem solid var(--third-color);
    background-color: var(--primary-color);

    img.footer-logo {
        width: 10rem;
    }

    p.footer-text {
        font-size: 1.25rem;
        color: var(--third-color);
    }
}

// Authentication Page
section.auth-page {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;

    nav {
        display: flex;
        position: fixed;
        width: 20vw;
        height: 10vh;
        top: 0;
        left: 0;
        padding: 1rem;
        border: none;
        cursor: pointer;
        background-color: white;

        a {

            img {
                width: 60%;
            }
        }
    }

    div.auth-hero {
        display: flex;
        width: 30%;
        padding: 2rem;
        justify-content: center;
        align-items: center;

        img {
            width: 80%;
        }
    }

    div.form-collection {
        display: flex;
        width: fit-content;
        height: fit-content;
        padding: 2rem;
        gap: 2rem;

        div.form-container {
            display: flex;
            flex-direction: column;
            width: 35rem;
            height: 38rem;
            overflow: hidden;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            border: 4px solid var(--third-color);
            border-radius: 1rem;

            div.form-card {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 30rem;
                align-items: center;
                justify-content: center;
                padding: 1rem;
                gap: 3rem;

                p.form-title {
                    font-size: 2.5rem;
                    text-decoration: underline;
                    overflow: hidden;
                }

                div.form-input-group {
                    display: flex;
                    flex-direction: column;
                    width: 30rem;
                    height: fit-content;
                    justify-content: center;
                    align-items: center;
                    gap: 2rem;
                    overflow: hidden;

                    input {
                        width: 25rem;
                        height: 3rem;
                        padding: .5rem;
                        font-size: 2rem;
                    }

                    div {
                        display: flex;
                        width: fit-content;
                        align-items: center;

                        span {
                            position: absolute;
                            margin-left: 20%;

                            i {
                                width: 2rem;
                                height: fit-content;
                                right: 3rem;
                                font-size: 1.5rem;
                                cursor: pointer;
                                color: #116530;
                            }
    
                            i.fa-eye {
                                display: none;
                            }
    
                            i.fa-eye-slash {
                                display: flex;
                            }
                        }
                    }
                }

                p.link-button {
                    font-size: 2rem;
                    text-decoration: none;
                    cursor: pointer;
                    color: black;
                    overflow: hidden;
                }
            }

            div.footer-container {
                display: flex;
                width: 40rem;
                height: 6rem;
                background-color: var(--third-color);

                button {
                    width: 100%;
                    height: 100%;
                    border: none;
                    background: none;
                    font-size: 4rem;
                    color: white;
                    cursor: pointer;
                    background-color: var(--third-color);
                }
            }
        }

        div.login-form {
            display: flex;
        }

        div.signup-form {
            display: none;
        }
    }
}

// User Profile Page
section.user-profile {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 90vh;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    overflow: hidden;

    p {
        font-size: 2rem;
        overflow: hidden;
    }

    div.profile-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        padding: 2rem;
        justify-content: center;
        gap: 2rem;

        div.image-card {
            display: flex;
            flex-direction: column;
            width: 25rem;
            height: 25rem;
            justify-content: center;
            align-items: center;
            border: 2px solid black;
            overflow: hidden;

            img.image-preview {
                width: 20rem;
                height: 20rem;
                border-radius: 10rem;
                border: 1px solid rebeccapurple;
                overflow: hidden;
            }

            div.image-button-group {
                display: flex;
                flex-direction: row;
                width: 100%;
                height: fit-content;
                padding: 1rem;
                align-items: center;
                justify-content: center;
                gap: .5rem;
                
                input#image-name {
                    display: flex;
                    width: 0%;
                    height: 0%;
                }

                p#image-extension {
                    display: flex;
                    width: 0%;
                    height: 0%;
                }

                input.image-select {
                    width: 5.6rem;
                }

                button {
                    width: 6rem;
                }
            }
        }

        div.profile-card {
            display: flex;
            flex-direction: column;
            width: 50%;
            height: fit-content;
            padding: 1rem;
            gap: 1rem;
            border-left: 1px solid gray;

            div.profile-item-card {
                display: flex;
                flex-direction: row;
                width: 60%;
                height: fit-content;
                gap: 1rem;

                p.profile-title {
                    width: 12rem;
                    font-size: 2rem;
                }

                input.profile-input {
                    width: 30rem;
                    padding: 0rem .5rem;
                    font-size: 1.5rem;
                }

                select.profile-input {
                    width: 32rem;
                    padding: 0rem .5rem;
                    font-size: 1.5rem;
                }
            }

            div.profile-button-group {
                display: none;
                flex-direction: row;
                width: 20rem;
                height: fit-content;
                gap: 1rem;
            }

            button {
                display: flex;
                width: 20rem;
                height: 2rem;
                justify-content: center;
                align-items: center;
            }

        }
    }
    
    button#logout {
        display: flex;
        width: 8rem;
        height: 3rem;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        padding: 1rem;
        cursor: pointer;
        overflow: hidden;
    }
}

// Food Page 
section.user-profile {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    gap: 1rem;

    div.food-outter-container {
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: fit-content;
        padding: 1rem;
        gap: .5rem;
        border-radius: 1rem;
        border: 2px solid blue;

        div.food-inner-container {
            display: flex;
            flex-direction: row;
            gap: 1rem;

            p.food-title {
                width: 10rem;
                font-size: 1.5rem;
            }

            input.food-input {
                width: 20rem;
                height: 2rem;
                padding: 0rem .25rem;
                font-size: 1rem;
            }

            select.food-input {
                width: 20.8rem;
                height: 2rem;
                font-size: 1rem;
                color: black;

                option#food-id-edit-option {
                    font-size: 1rem;
                    color: black;
                }
            }
        }

        div.food-button-group, .food-edit-button-group {
            display: none;
            width: 32rem;
            gap: 1rem;

            button {
                width: 16rem ;
                height: 2rem;
            }
        }

        button.add-food-button, .delete-food-button, .edit-food-button {
            display: flex;
            width: 32rem;
            height: 2rem;
            align-items: center;
            justify-content: center;
        }
    }
}

// Animation
@keyframes fade-out {
    from {
        opacity: 100%;
    } to {
        opacity: 0%;
    }
}

@keyframes fade-in {
    from {
        opacity: 0%;
    } to {
        opacity: 100%;
    }
}

@keyframes bounce {
    from {
        transform: translateY(0px);
    } to {
        opacity: 1;
        transform: translateY(-30px);
    }
}

@keyframes blink {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes zoom-in {
    from {
        transform: scale(0);
    } to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes snake {
   50% { transform: translateY(-2rem); }
   100% { transform: translateY(1rem); }
}

// Responsive
@media screen and (max-width: 1600px) {
    nav {
        gap: 50%;
    }

    section#hero-container {

        div.hero-image-container {

            img.hero-image {
                width: 35rem;
            }
        }

        div.hero-detail-container {

            p.detail-title {
                font-size: 2.5rem;
            }

            p.detail-text {
                font-size: 1.25rem;
            }
        }
    }

    section.login-page {

        div.form-collection {

            div.form-container {
                width: 32rem;
                height: 35rem;

                div.form-card {

                    div.form-input-group {
                
                        input {
                            width: 28rem;
                            height: 3rem;
                            padding: .5rem;
                            font-size: 1.5rem;
                        }
                    }
                }

                div.footer-container {
                    width: 40rem;
                    height: 6rem;
    
                    button {
                        font-size: 2.5rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    nav {
        gap: 45%;
    }
}

@media screen and (max-width: 1366px) {
    
}

@media screen and (max-width: 1280px) {
    section.login-page {

        nav {
    
            a {
    
                img {
                    width: 4rem;
                }
            }
        }

        div.form-collection {
    
            div.form-container {
                width: 25rem;
                height: 28rem;
    
                div.form-card {
    
                    div.form-input-group {
    
                        input {
                            width: 20rem;
                            height: 2rem;
                            font-size: 1.5rem;
                        }
                    }
    
                    a {
                        font-size: 1.5rem;
                    }
                }
    
                div.footer-container {
    
                    button {
                        font-size: 2.5rem;
                    }
                }
            }
    
            div.login-form {
                display: flex;
            }
    
            div.signup-form {
                display: none;
                height: 32rem;
            }
        }
    }
}

@media screen and (max-width: 1080px) {
    nav {
        gap: 35%;

        a {
    
            img.navigation-logo {
                width: 10rem;
            }
        }
    }

    section#hero-container {

        div.hero-image-container {

            img.hero-image {
                width: 25rem;
            }
        }

        div.hero-detail-container {
            
            p.detail-title {
                font-size: 2.5rem;
            }

            p.detail-text {
                font-size: 1.25rem;
            }
        }
    }    
}

@media screen and (max-width:768px) {
    nav {
        gap: 10%;

        a {
    
            img.navigation-logo {
                width:10rem;
            }
        }
    }

    section#hero-container {

        div.hero-image-container {
            padding: 0;
    
            img.hero-image {
                width: 20rem;
            }
        }

        div.hero-detail-container {
            width: 40%;
            padding: 1rem;
    
            p.detail-title {
                font-size: 2rem;
            }
    
            p.detail-text {
                font-size: 1rem;
            }
    
            a.register-link {
                padding: .8rem 1.5rem;
            }
        }
    }

    section#feature-container {
    
        div.feature-inner-container {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
    
            img.feature-image {
                width: 10rem;
            }
    
            p.feature-text {
                width: 50%;
                font-size: 1.25rem;
                font-weight: 400;
                text-align: center;
            }
        }
    
        div.second-feature {
            flex-direction: row-reverse;
        }
    }

    section#about-container {
    
        p.about-title {
            font-size: 3rem;
            font-weight: 500;
        }
    
        div.about-outer-container {
    
            div.about-inner-container {
                display: none;
            }

            p.about-text {
                width: 90%;
                text-align: center;
                font-size: 1.25rem;
            }
        }
    }

    section.login-page {

        nav {
    
            a {
    
                img {
                    width: 100%;
                }
            }
        }

        div.login-hero {
            display: none;
        }

        div.form-collection {
    
            div.form-container {
                width: 30rem;
                height: 35rem;
            }
        }
    }
}

@media screen and (max-width: 428px) {
    div#preloader {
        width: 100vw;
        height: 100vh;
        gap: 1rem;
        padding: 0%;
        overflow: hidden;
    
        animation: fade-out 1s forwards 3800ms;
    
        div.preloader-image {
            height: 20vh;
            gap: 1rem;
    
            img {
                width: 3rem;
            }
        }
    
        p.preloader-text {
            font-size: 2.5rem;
            opacity: 0;
            color: var(--third-color);
    
            animation: blink .75s alternate infinite .2s;
        }
    }

    nav {
        width: 100vw;
        gap: 25%;
        border: none;
        padding: .5rem 0rem;

        a {
    
            img.navigation-logo {
                width: 8rem;
            }
        }

        ul.navigation-list {
            display: flex;
            position: absolute;
            flex-direction: column;
            width: 100vw;
            height: 100vh;
            top: 7%;
            left: 100%;
            align-items: center;
            justify-content: center;
            list-style: none;
            gap: 1rem ;
            padding: 1rem;
            cursor: pointer;
            overflow: hidden;
            background-color: var(--primary-color);
            z-index: 4;
            transition: all .5s ease;

            li.navigation-item-list {
                display: flex;
                flex-direction: column;
                padding: 0rem;
                align-items: center;
                justify-content: center;

                a.navigation-item-list-link {
                    font-size: 2rem;
                    text-align: center;
                    color: var(--third-color);
                    transition: .2s all;

                    span.navigation-slide {
                        display: flex;
                        width: 0%;
                        height: 3px;
                        border-radius: 5rem;
                        background-color: var(--third-color);
                        transition: width .25s ease-in-out;
                    }
                }            
            }

            li.navigation-item-list:hover {

                a.navigation-item-list-link:hover {
                    color: var(--third-color);

                    span.navigation-slide {
                        width: 100%;
                        transition: width .25s ease-in-out;
                    }
                }
            }

            li.login-list {
                display: flex;
                flex-direction: column;
                width: 5rem;
                height: fit-content;
                padding: .5rem;
                align-items: center;
                border-radius: .25rem;
                background-color: var(--fourth-color);

                a.login-link {
                    color: var(--primary-color);

                    span.login-slide {
                        display: none;
                    }
                }
            }

            li.login-list:hover {
                background-color: var(--third-color);

                a.login-link:hover {
                    color: var(--fifth-color);
                }
            }
        }

        ul.navigation-list:hover {
            
            li.navigation-item-list {

                a.navigation-item-list-link {
                    color: var(--secondary-color);
                }
            }
        }

        ul.hamburger-lines {
            display: flex;
            flex-direction: column;
            gap: .3rem;
            cursor: pointer;

            li {
                width: 2rem;
                height: .25rem;
                border-radius: 1rem;
                background-color: black;
            }
        }
    }

    section#hero-container {
        width: 100vw;
        padding: 0rem;
        justify-content: center;
    
        div.hero-image-container {
            display: none;
        }
    
        div.hero-detail-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: fit-content;
            padding: 1rem;
            gap: 1rem;

            p.detail-title {
                font-size: 2rem;
            }
    
            p.detail-text {
                font-size: 1rem;
            }
    
            a.register-link {
                padding: .6rem 1.5rem;
                font-size: 1.25rem;
            }
        }
    }

    section#feature-container {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: fit-content;
        margin-top: 3rem;
        padding: 0rem;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    
        p.feature-title {
            font-size: 2.5rem;
            font-weight: 500;
        }
    
        div.feature-inner-container {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            gap: 1rem;
            padding: 1rem;
    
            img.feature-image {
                width: 5rem;
            }
    
            p.feature-text {
                width: 100%;
                font-size: 1rem;
                font-weight: 400;
                text-align: center;
            }
        }
    
        div.second-feature {
            flex-direction: column;
        }
    }   

    section#about-container {
        display: flex;
        flex-direction: column;
        width: 90vw;
        height: fit-content;
        padding: 2rem 1rem;
        margin-top: 2rem;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    
        p.about-title {
            font-size: 2.5rem;
            font-weight: 500;
        }
    
        div.about-outer-container {
            display: flex;
            flex-direction: row;
            width: fit-content;
            height: fit-content;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            gap: 2.5rem;
    
            p.about-text {
                text-align: center;
                font-size: 1rem;
            }
        }
    }

    footer {
        flex-direction: column;
    }

    section.login-page {
        padding: 0%;

        nav {
            width: 100vw;
            height: 10vh;
            align-items: center;
    
            a {
                width: fit-content;
    
                img {
                    width: 50%;
                }
            }
        }

        div.form-collection {
    
            div.form-container {
                width: 25rem;
                height: 28rem;
    
                div.form-card {
    
                    div.form-input-group {
    
                        input {
                            width: 18rem;
                        }
                    }
    
                    a {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {
    div#preloader {
    
        div.preloader-image {
    
            img {
                width: 2.5rem;
            }
        }
    }
    
    nav {
        width: 100vw;
        gap: 40%;
        border: none;
        padding: .5rem 0rem;

        a {
    
            img.navigation-logo {
                width: 8rem;
            }
        }

        ul.navigation-list {
            top: 6%;
            left: 100%;

            li.navigation-item-list {
                display: flex;
                flex-direction: column;
                padding: .5rem;
                align-items: center;
                justify-content: center;

                a.navigation-item-list-link {
                    font-size: 1.5rem;
                    text-align: center;
                    color: var(--third-color);
                    transition: .2s all;

                    span.navigation-slide {
                        display: flex;
                        width: 0%;
                        height: 3px;
                        border-radius: 5rem;
                        background-color: var(--third-color);
                        transition: width .25s ease-in-out;
                    }
                }            
            }

            li.navigation-item-list:hover {

                a.navigation-item-list-link:hover {
                    color: var(--third-color);

                    span.navigation-slide {
                        width: 100%;
                        transition: width .25s ease-in-out;
                    }
                }
            }

            li.login-list {
                display: flex;
                flex-direction: column;
                width: 5rem;
                height: fit-content;
                padding: .5rem;
                align-items: center;
                border-radius: .25rem;
                background-color: var(--fourth-color);

                a.login-link {
                    color: var(--primary-color);

                    span.login-slide {
                        display: none;
                    }
                }
            }

            li.login-list:hover {
                background-color: var(--third-color);

                a.login-link:hover {
                    color: var(--fifth-color);
                }
            }
        }

        ul.navigation-list:hover {
            
            li.navigation-item-list {

                a.navigation-item-list-link {
                    color: var(--secondary-color);
                }
            }
        }

        ul.hamburger-lines {
            display: flex;
            flex-direction: column;
            gap: .3rem;
            cursor: pointer;

            li {
                width: 2rem;
                height: .25rem;
                border-radius: 1rem;
                background-color: black;
            }
        }
    }

    section#feature-container {
    
        p.feature-title {
            font-size: 2.5rem;
            font-weight: 500;
        }
    
        div.feature-inner-container {
    
            p.feature-text {
                font-size: 1rem;
            }
        }
    }   

    section#about-container {
    
        p.about-title {
            font-size: 2.5rem;
        }
    
        div.about-outer-container {
    
            p.about-text {
                font-size: 1rem;
            }
        }
    }

    footer {
        width: 90vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section.login-page {
        justify-content: center;
        padding: 0%;

        nav {
            width: 100vw;
            height: 3vh;
            align-items: center;
    
            a {
    
                img {
                    width: 30%;
                }
            }
        }

        div.form-collection {
    
            div.form-container {
                width: 25rem;
                height: 20rem;
                overflow: hidden;
    
                div.form-card {
                    gap: 1.5rem;
    
                    p.form-title {
                        font-size: 1.5rem;
                    }

                    div.form-input-group {
                        gap: 1rem;
    
                        input {
                            width: 12rem;
                            height: 1.5rem;
                        }
                    }
    
                    a {
                        font-size: 1.25rem;
                    }
                }

                div.footer-container {
    
                    button {
                        font-size: 2rem;
                        
                    }
                }
            }

            div.login-form {
                display: flex;
            }
    
            div.signup-form {
                display: none;
                height: 22rem;
            }

        }
    }
}
//Variable
:root {
    --primary-color: #E8E8CC;
    --secondary-color: #B4846C;
    --third-color: #0B4619;
    --fourth-color: #116530;
    --fifth-color: #FFCC1D;
  }